<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>SudokuSolver</title>
    <style>
        table,tr,td{
            border:1px solid black;
        }
    </style>
</head>
<body>
    
    <h1> Solution of sudoku solver</h1>
    <table>
        <%for(var i =0;i<9;i++){%>
        <tr>
            <td><%=a[i][0]%></td>
            <td><%=a[i][1]%></td>
            <td><%=a[i][2]%></td>
            <td><%=a[i][3]%></td>
            <td><%=a[i][4]%></td>
            <td><%=a[i][5]%></td>
            <td><%=a[i][6]%></td>
            <td><%=a[i][7]%></td>
            <td><%=a[i][8]%></td>
        </tr>
        <%}%>
    </table>
    
</body>
</html> 